/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {

  /*Цвета темной темы*/
  --accent-color: #FF0070;
  --decorative-color: #D800FF;
  --text-color: #F1B2CE;
  --page-bg-color: var(#000028);
  --accented-heading-color: var(#000028);
  --heading-color: var(--accent-color);
  --btn-color: var(--accent-color);
  
 /*Фоны*/
  --page-bg-image: url(../images/cover-image-dark.png);

  /*видимость декоративного элемента*/
  --decor-item-visibility: visible;
}