:root.theme-dark {
  /*Цвета темной темы*/

  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --logo-color: #d800ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --decor-zone-color: var(--accent-color);
  --decor-title-color: #000028;
  --title-color: var(--accent-color);
  --btn-hover-color: #FF007066;

  /*видимость декоративного элемента*/

  --decor-item-visibility: visible;
}
