/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /*Цвета темной темы*/

  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --logo-color: #d800ff;
  --accent-color: #ff0070;
  --decor-zone-color: var(--accent-color);
  --text-color: #f1b2ce;
  --decor-title-color: #000028;
  --title-color: var(--accent-color);

  /*видимость декоративного элемента*/
  
  --decor-item-visibility: visible;
}
