/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /*Цвета светлой темы*/

  --page-bg-color: #fff1f7;
  --page-bg-image: url(../images/cover-image-light.png);
  --logo-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --decor-zone-color: var(--text-color);
  --decor-title-color: var(--text-color);
  --title-color: var(--text-color);

  /*видимость декоративного элемента*/
  --decor-item-visibility: hidden;
}

@media (prefers-color-scheme: light) {

  :root {
    /*Цвета светлой темы*/

    --page-bg-color: #fff1f7;
    --page-bg-image: url(../images/cover-image-light.png);
    --logo-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --decor-zone-color: var(--text-color);
    --decor-title-color: var(--text-color);
    --title-color: var(--text-color);

    /*видимость декоративного элемента*/

    --decor-item-visibility: hidden;
  }
}
